<h1><%= article.title %></h1>

<div class="well">
  <p><%= article.body %></p>
</div>

<a href="/articles/edit/<%= index %>" class="btn btn-warning">Edit</a>
<a id="delete-btn" href="/articles/<%= index %>" class="btn btn-danger">Delete</a>
