<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Daily Planet</title>
</head>
<body>
  <div class="container">
    <%- body %>
  </div>
  <%# Let's get a newer version of jquery %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%# That's better. %>
  <%# I'll leave the old bootstrap for now. %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%# Oh, helpers! %>
  <script type="text/javascript" src="/clarks-ajax.js"></script>
  </body>
</html>
